.notification-preview {
    padding: 35px;
    padding-bottom: 30px;
    width: 100%;
    border-top: 1px solid #aaaaaa90;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    color: black;

    &:hover {
        transition: background-color ease-out .5s;
        background-color: #ececec90;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__title {
        font-size: 25px;
        font-weight: 700;
    }
    &__time {
        font-size: 16px;
        color: rgba($color: #727272, $alpha: 1.0)
    }
    &__description {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__read-status {
        width: 10px;
    }
}
