.survey {
    padding-top: 50px;
    &__wrapper {

        & > *:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__image {
        margin: 0 auto;
        display: block;
        max-width: 40%;
    }
    &__title {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
    &__description {
        text-align: center;
    }
    &__go-survey {
        margin: 0 auto;
        padding: 20px;
        width: 200px;
        display: block;
        background-color: #3ad3a3;
        border: none;
        border-radius: 10px;
        color: white;

        &:hover {
            opacity: .5;
        }
    }
}