body, html {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #dce4ea;
}

#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
    background-color: #ffffff;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 0 -25px 30px #00000012;
}

.back-btn {
    padding: 10px 20px;
    font-size: 25px;
    color: black;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;

    &:hover {
        opacity: .5;
    }
}